<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"  version="3.0">
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<display-name>StaticContentFilter</display-name>
		<filter-name>StaticContentFilter</filter-name>
		<filter-class>com.shpach.tutor.view.filters.StaticContentFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StaticContentFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.shpach.tutor.view.sevrlet.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/pages</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>
